    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        opacity: 2; /* Độ mờ để làm nút điều hướng dễ nhìn hơn */
    }

        .carousel-inner img {
        width: 100%;
        height: 550px; /* Chiều cao ảnh lớn */
        object-fit: cover;
    }

           .carousel-indicators img {
        width: 100%;
        height: 75px; /* Chiều cao ảnh lớn */
        object-fit: cover;
    }