:root{
  --color-product1: rgb(65, 50, 50);
  --color-product2: rgb(0, 0, 0);
  --color-product3:rgb(211, 189, 140);
  --color-product4:rgb(231, 221, 173);
  --color-product5:rgb(255, 255, 255);
}
.bg-color-product1{
  background-color: var(--color-product1);
}
.bg-color-product2{
  background-color: var(--color-product2);
}
.bg-color-product3{
  background-color: var(--color-product3);
}
.bg-color-product4{
  background-color: var(--color-product4);
}
.bg-color-product5{
  background-color: var(--color-product5);
}
/* Start of sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.main-content {
  width: 100vw;
  padding: 0;
  margin: 0;
}
.footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
}

footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
  text-decoration: underline;
}

.social-icons img {
  margin-right: 10px;
}

footer .social-icons a {
  display: inline-block;
}

footer p {
  margin-bottom: 5px;
}

.container {
  max-width: 1150px;
}
/* End of sticky footer styles */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-img img {
  transition: all 0.3s ease;
}

.special-img:hover img {
  transform: scale(1.2);
}
/* Carousel */
.carousel-item img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.carousel-item-product img{
  width: 100%;
  object-fit: cover;
}
/* Floating contact buttons */
.contact-buttons {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.contact-btn {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact-btn img {
  width: 60%;
  height: 60%;
}

.phone-btn, .zalo-btn, .messenger-btn, .facebook-btn, .top-btn {
  background-color: rgba(255, 255, 255, 0.403) !important;
}
.price-old{
  text-decoration: line-through;
  margin-left: 10px;
}

.contact-btn:hover, .btn-product:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.nav-link:hover {
  font-weight: bold;
}

.text-primary {
  color: var(--pink) !important;
}

.navbar {
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  width: 30px;
}

.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}

.nav-link:hover {
  color: var(--pink) !important;
}

.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 10px 28px;
  border-radius: 10px;
  border: 1px solid rgb(85, 85, 85);
}
.nav-item.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

img{
  object-fit: cover;
}
.nav-item{
  margin-left: 5px;
}
.dropdown-menu {
	min-width: 200px;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.multi-column-dropdown {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.multi-column-dropdown li a {
	display: block;
	line-height: 1.428571429;
	color: #000000;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
	color: #ffffff;
	background-color: #000000;
}
.multi-column-dropdown li a {
	text-decoration: none;
}
.divider {
	height: 1px;
	background-color: #ddd;
	margin: 5px 0;
	width: 100%;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
  .hidden{
    display: none;
  }
}
@media screen and (max-width: 992px){
  .hidden-slider {
      display: none;
    }
  .detail-product{
    margin-top: 40px;
  }
}
@media screen and (min-width: 767px){
  .describe-detail-product{
    margin-top: 140px;
  }
}
.nav-link i.fas.fa-user, .nav-link i.fas.fa-shopping-cart {
  font-size: 1.5em;
  line-height: 1;
}


/* Thumbnail */
.color-product {
  margin-right: 10px;
  width: 42px;
  height: 40px;
  border-radius: 50%;
}

/* Quantity buttons */
.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.quantity input {
  width: 40px;
  text-align: center;
}

/* Product buttons in detail page */
.btn-group-product button{
  width: 49.5%;
  font-weight: 500;
}
.detail-product{
  padding-left:30px;
}
.detail-product div{
  margin-bottom: 15px;
}
.describe-detail-product{
  border: 1px solid rgb(186, 183, 183);
}
.content-describe-detail-product{
  padding: 50px;
}
.title-describe-detail-product{
  border-bottom: 1px solid rgb(186, 183, 183);
}
.main-detail-product{
  margin-top: 100px;
}

/* GIF icons */
.gif-icon {
  width: 90px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}
.gif-icon-2 {
  width: 40px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}

.special-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'sans-serif';
  font-size: 17px;
}
.user-cart span {
  background-color: red;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: -1.2rem;
}
/*********** admin dashboard styling **********/
.card {
  background-color: #3B3131;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px #3B3131;
}
/************************** for sidebar ***********************************/
/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #3B3131;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidebar .side-header {
  margin-left: 30px;
  margin-bottom: 8px;
  color: #fff;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  background-color: #584e46;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 34px;
  margin-left: 50px;
}
/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: #fff;
  background-color: #584e46;
}
.openbtn:hover {
  color: #ECDAC9;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }}



.btn {
    display: inline-flex;               /* Sử dụng inline-flex để căn giữa nội dung */
    align-items: center;                /* Căn giữa theo chiều dọc */
    justify-content: center;            /* Căn giữa theo chiều ngang */
    padding: 10px 20px;                 /* Khoảng cách trong của nút */
    font-size: 18px;                    /* Kích thước chữ */
    text-decoration: none;              /* Xóa gạch chân */
    border-radius: 5px;                 /* Bo tròn các góc */
    cursor: pointer;                    /* Con trỏ chỉ tay */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Hiệu ứng chuyển */
}

.btn:hover{
   color: white !important;
  background-color: #000000 !important; /* Màu nền khi hover */
}

.btn-product{
   font-size: 14px;   
}

.nav-btns {
  align-items: center; /* Căn giữa theo chiều dọc */
}

.nav-btns form {
  display: flex;
  align-items: center;
  width: 220px;
}

.nav-btns .form-control {
  flex-grow: 1; /* Để input chiếm tối đa diện tích */
}

.nav-btns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* Đảm bảo kích thước nút đồng nhất */
  margin-left: 10px; /* Khoảng cách giữa nút tìm kiếm và giỏ hàng */
}


.icon-btn:hover {
    background-color: rgb(193, 192, 192) !important;
}



.alert {
    position: fixed;
    top: 75px; /* Điều chỉnh giá trị này tùy theo chiều cao của navbar */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Đảm bảo thông báo nằm trên các thành phần khác */
    width: 90%;
    max-width: 600px;
}

/* Hiệu ứng ẩn dần */
.alert.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

/* Kiểu tổng thể cho menu hạng mục */
.hangmuc-style {
  min-width: 200px; /* hoặc bạn có thể tăng lên nếu chữ dài */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  font-size: 16px;
}

/* Các mục trong menu */
.hangmuc-style li a {
  display: block;
  padding: 8px 20px;
  color: #000 !important;
  text-decoration: none !important;
  white-space: nowrap; /* Không cho xuống dòng */
}

/* Hover đẹp */
.hangmuc-style li a:hover {
  background-color: #000;
  color: #fff !important;
  font-weight: 500;
}
/* Menu sản phẩm nhiều cột */
.sanpham-style {
  min-width: 600px; /* đủ cho 2–3 cột */
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Các mục bên trong */
.sanpham-style li a {
  display: block;
  padding: 8px 20px;
  color: #000 !important;
  text-decoration: none !important;
  white-space: nowrap;
}

/* Hover đẹp */
.sanpham-style li a:hover {
  background-color: #000;
  color: #fff !important;
  font-weight: 500;
}

